# Data Structures in Python - Exercise Solutions

This notebook contains solutions to all exercises from the Data Structures lesson.

## Exercise 1: Lists

**Tasks:**
- Create a list of five cities.
- Replace the third city with a new one.
- Remove the last city and print the resulting list.

In [ ]:
# Create a list of five cities
cities = ["New York", "London", "Tokyo", "Paris", "Sydney"]
print("Original cities:", cities)

# Replace the third city (index 2) with a new one
cities[2] = "Berlin"
print("After replacing third city:", cities)

# Remove the last city
removed_city = cities.pop()
print(f"Removed city: {removed_city}")
print("Final list:", cities)

## Exercise 2: Tuples

**Tasks:**
- Create a tuple representing a date (year, month, day).
- Use tuple unpacking to assign each part to a variable and print them.

In [ ]:
# Create a tuple representing a date
date = (2025, 7, 10)
print("Date tuple:", date)

# Use tuple unpacking to assign each part to variables
year, month, day = date

# Print each part
print(f"Year: {year}")
print(f"Month: {month}")
print(f"Day: {day}")
print(f"Formatted date: {month}/{day}/{year}")

## Exercise 3: Dictionaries

**Tasks:**
- Make a dictionary mapping three people's names to their favorite colors.
- Add a new person, change one color, and remove one entry.
- Loop through the dictionary and print each person's favorite color.

In [ ]:
# Create dictionary mapping names to favorite colors
favorite_colors = {
    "Alice": "blue",
    "Bob": "red",
    "Charlie": "green"
}
print("Original dictionary:", favorite_colors)

# Add a new person
favorite_colors["Diana"] = "purple"
print("After adding Diana:", favorite_colors)

# Change one color
favorite_colors["Bob"] = "orange"
print("After changing Bob's color:", favorite_colors)

# Remove one entry
removed_color = favorite_colors.pop("Charlie")
print(f"Removed Charlie with favorite color: {removed_color}")
print("After removal:", favorite_colors)

# Loop through and print each person's favorite color
print("\nEveryone's favorite colors:")
for name, color in favorite_colors.items():
    print(f"{name}'s favorite color is {color}")

## Exercise 4: Sets

**Tasks:**
- Given the list `[1, 2, 2, 3, 4, 4, 5]`, create a set from it.
- Add the number 6 to the set.
- Check if 3 is in the set.

In [ ]:
# Given list with duplicates
numbers_list = [1, 2, 2, 3, 4, 4, 5]
print("Original list:", numbers_list)

# Create a set from the list (removes duplicates)
numbers_set = set(numbers_list)
print("Set created from list:", numbers_set)

# Add the number 6 to the set
numbers_set.add(6)
print("After adding 6:", numbers_set)

# Check if 3 is in the set
is_three_in_set = 3 in numbers_set
print(f"Is 3 in the set? {is_three_in_set}")

# Additional checks
print(f"Is 7 in the set? {7 in numbers_set}")
print(f"Set length: {len(numbers_set)}")

## Exercise 5: List Comprehensions

**Task:**
- Write a list comprehension to create a list of all squares from 1 to 10 that are even.

In [ ]:
# List comprehension to create squares from 1 to 10 that are even
even_squares = [x**2 for x in range(1, 11) if (x**2) % 2 == 0]
print("Even squares from 1 to 10:", even_squares)

# Alternative approach: squares of even numbers
squares_of_evens = [x**2 for x in range(1, 11) if x % 2 == 0]
print("Squares of even numbers from 1 to 10:", squares_of_evens)

# Let's verify by showing all squares first
all_squares = [x**2 for x in range(1, 11)]
print("All squares from 1 to 10:", all_squares)
print("Even ones from above:", [sq for sq in all_squares if sq % 2 == 0])

## Exercise 6: Nested Structures

**Tasks:**
- Create a list of dictionaries, each representing a book with its 'title' and 'author'.
- Print the title of the second book.

In [ ]:
# Create a list of dictionaries representing books
books = [
    {"title": "To Kill a Mockingbird", "author": "Harper Lee"},
    {"title": "1984", "author": "George Orwell"},
    {"title": "Pride and Prejudice", "author": "Jane Austen"},
    {"title": "The Great Gatsby", "author": "F. Scott Fitzgerald"}
]

print("All books:")
for i, book in enumerate(books, 1):
    print(f"{i}. '{book['title']}' by {book['author']}")

# Print the title of the second book (index 1)
second_book_title = books[1]["title"]
print(f"\nTitle of the second book: {second_book_title}")

# Additional operations with nested structures
print(f"Author of the second book: {books[1]['author']}")
print(f"Total number of books: {len(books)}")

## Bonus: Additional Practice Examples

Here are some additional examples that combine multiple data structures:

### Bonus 1: Student Grades System

In [ ]:
# Create a comprehensive student grades system
students = {
    "Alice": {
        "grades": [85, 90, 92, 88],
        "subjects": ["Math", "Science", "English", "History"]
    },
    "Bob": {
        "grades": [78, 82, 85, 80],
        "subjects": ["Math", "Science", "English", "History"]
    },
    "Charlie": {
        "grades": [92, 95, 89, 94],
        "subjects": ["Math", "Science", "English", "History"]
    }
}

# Calculate average grades using list comprehension
for student, data in students.items():
    average = sum(data["grades"]) / len(data["grades"])
    print(f"{student}'s average grade: {average:.2f}")

# Find all students with average > 85
high_performers = [student for student, data in students.items() 
                  if sum(data["grades"]) / len(data["grades"]) > 85]
print(f"\nHigh performers (average > 85): {high_performers}")

### Bonus 2: Data Processing Pipeline

In [ ]:
# Simulate processing a dataset
raw_data = [
    ("apple", 5, "fruit"),
    ("carrot", 3, "vegetable"),
    ("banana", 2, "fruit"),
    ("broccoli", 4, "vegetable"),
    ("orange", 6, "fruit")
]

# Convert to list of dictionaries
products = [{"name": name, "quantity": qty, "category": cat} 
           for name, qty, cat in raw_data]

print("Products:")
for product in products:
    print(f"  {product}")

# Group by category using dictionary comprehension
categories = set(product["category"] for product in products)
grouped = {cat: [p for p in products if p["category"] == cat] 
          for cat in categories}

print("\nGrouped by category:")
for category, items in grouped.items():
    print(f"{category.title()}s: {[item['name'] for item in items]}")

# Calculate total quantity by category
totals = {cat: sum(item["quantity"] for item in items) 
         for cat, items in grouped.items()}
print(f"\nTotal quantities: {totals}")

## Summary

These solutions demonstrate:

1. **Lists**: Basic operations like indexing, modification, and removal
2. **Tuples**: Immutable data and tuple unpacking
3. **Dictionaries**: Key-value operations and iteration
4. **Sets**: Unique collections and membership testing
5. **List Comprehensions**: Concise list creation with conditions
6. **Nested Structures**: Complex data modeling with combined structures

The bonus examples show how these structures work together in real-world scenarios!